<div class="container-fluid">
    <div class="container">
        <img src="assets/img/app_logo.png" class="img-fluid pull-left" alt="app logo" class="logo">
        <p class="h1 title">SBA2</p>
    </div>
    <div class="container nav">
        <a [routerLink]="['hello']" class="btn btn-primary">Hello Page</a>
        <a [routerLink]="['calendar']" class="btn btn-primary">Calendar Page</a>
    </div>
    <div class="content-heading container">
        <p class="h1">my first spring-boot-angular2 app</p>
    </div>
</div>
