html {
	margin: 0 auto;
}

.nav-button {
	background-color: #3efeaa;
	border: 2px solid #fe3e92;
	border-radius: 5px;
	color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
	font-weight: bold;
    cursor: pointer;
}

.nav-button:hover {
	background-color: #fe3e92;
	border: 2px solid #3efeaa;
}
